h2:hover {
  color: red;
}

.subtitle {
  color: blue;
}

#services {
  color: yellow;
}

/* li:first-child {
  color: steelblue;
} */

td:only-child {
  color: purple;
}

/* #google-link:link {
  color: blue;
}

#google-link:visited {
  color: red;
} */

h2 + a {
  color: red;
}

textarea ~ button {
  color: purple;
}

ul > li {
  color: red;
}

ul li {
  color: green;
}
