h2:hover {
  color: red;
}

.subtitle {
  color: blue;
}

#services {
  color: yellow;
}

li:first-child {
  color: steelblue;
}

#google-link:link {
  color: blue;
}

#google-link:visited {
  color: red;
}
